06nifi-satori-template.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>2543d099-0160-1000-0000-0000271c6b52</groupId>
  <name>satori open data</name>
  <snippet>
    <connections>
      <id>bc14e930-e7a2-3513-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>9c1319a3-21e6-3dbb-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>440901ef-4abc-31ad-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c8badbe9-0bf5-3c36-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>6a50dc37-1ee3-34be-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>4a8780cb-40ec-3670-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>143f6805-8497-3518-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>440901ef-4abc-31ad-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>6a50dc37-1ee3-34be-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6d00acc5-bbed-3e52-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>9c1319a3-21e6-3dbb-0000-000000000000</id>
        <type>FUNNEL</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>3cfd2d4f-da13-3043-0000-000000000000</groupId>
        <id>6a50dc37-1ee3-34be-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <funnels>
      <id>9c1319a3-21e6-3dbb-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <position>
        <x>665.3761460056285</x>
        <y>381.7596092224121</y>
      </position>
    </funnels>
    <processors>
      <id>440901ef-4abc-31ad-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <position>
        <x>6.5747849216440954</x>
        <y>475.05337142944336</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-9-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>apac0.field.hortonworks.com:6667</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>cryptocurrency-market-data</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>kafka-key</key>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishKafka</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka</type>
    </processors>
    <processors>
      <id>4a8780cb-40ec-3670-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <position>
        <x>9.675523447034664</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-satori-bundle-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>ENDPOINT</key>
            <value>
              <name>ENDPOINT</name>
            </value>
          </entry>
          <entry>
            <key>APPKEY</key>
            <value>
              <name>APPKEY</name>
            </value>
          </entry>
          <entry>
            <key>ROLE</key>
            <value>
              <name>ROLE</name>
            </value>
          </entry>
          <entry>
            <key>ROLE_SECRET_KEY</key>
            <value>
              <name>ROLE_SECRET_KEY</name>
            </value>
          </entry>
          <entry>
            <key>SUBSCRIPTION_MODE</key>
            <value>
              <name>SUBSCRIPTION_MODE</name>
            </value>
          </entry>
          <entry>
            <key>CHANNEL</key>
            <value>
              <name>CHANNEL</name>
            </value>
          </entry>
          <entry>
            <key>FILTER</key>
            <value>
              <name>FILTER</name>
            </value>
          </entry>
          <entry>
            <key>BATCH_SIZE</key>
            <value>
              <name>BATCH_SIZE</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>ENDPOINT</key>
            <value>wss://open-data.api.satori.com</value>
          </entry>
          <entry>
            <key>APPKEY</key>
          </entry>
          <entry>
            <key>ROLE</key>
          </entry>
          <entry>
            <key>ROLE_SECRET_KEY</key>
          </entry>
          <entry>
            <key>SUBSCRIPTION_MODE</key>
            <value>SIMPLE</value>
          </entry>
          <entry>
            <key>CHANNEL</key>
            <value>cryptocurrency-market-data</value>
          </entry>
          <entry>
            <key>FILTER</key>
          </entry>
          <entry>
            <key>BATCH_SIZE</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConsumeSatoriRTM</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.laurencedaluz.nifi.satori.ConsumeSatoriRTM</type>
    </processors>
    <processors>
      <id>6a50dc37-1ee3-34be-0000-000000000000</id>
      <parentGroupId>3cfd2d4f-da13-3043-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>241.23289413478776</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-453</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s:(^.*)}$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>$1,"_timestamp":${now():toNumber():divide(1000)}}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
  </snippet>
  <timestamp>02/01/2018 04:57:02 UTC</timestamp>
</template>